@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --font:'Inter', sans-serif;

    --primary: #00A870;
    --secondary: #5e20a4;
    --logoBg: #00c88c;
    --content-bg: #dfdfdf;
    --footer-bg: #ffffff;
    --text: #3d3d3d;
    --text-secondary:#4A4A4A; 

}